# Python
__pycache__/
*.pyc
.venv/
venv/
.env
.idea/

# Node
node_modules/
dist/
build/

# OS / IDE
.DS_Store
.vscode/
externalAPI/Temprorary/*

# Logs
*.log

# Password / cert files
login_data.env
infra/nginx/certs/*

# data / excel sheets
data/*

#Ignore error files 
backend/data/*
backend/src/DATA_ROOT/*
backend/src/DATA_ROOT_old/*
