# ============================================================
# Choose between development and production mode here!
# In development mode you can additionally choose between stub and real backend.
#   COMPOSE_PROFILES=local   REACT_APP_API_MODE=local   -> real backend
#   COMPOSE_PROFILES=stub    REACT_APP_API_MODE=stub    -> stub backend
# ============================================================

# Development
COMPOSE_PROFILES=local
REACT_APP_API_MODE=local

# Production
# COMPOSE_FILE=docker-compose.prod.yml
# CLOUDFLARE_TUNNEL_TOKEN=